{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="wrapper">
    <section id="main" class="wrapper">
            <div class="inner">
                    <h1 class="major">More Information Here</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum animi magnam neque numquam porro explicabo maiores distinctio velit! Libero nihil omnis voluptatem doloremque delectus porro vel, officiis vitae quasi quae inventore reiciendis, asperiores odio quas optio adipisci, iure voluptates ea expedita. Minus sint ex aspernatur et placeat quaerat aliquam. Quisquam, unde assumenda eligendi aperiam eaque soluta. Delectus repudiandae accusantium et voluptates nostrum quam laborum vitae vero. Cupiditate velit aut veritatis ex iusto voluptatem ipsum possimus ullam, explicabo nisi assumenda, culpa odit magnam laboriosam vero id ea in? Tempore natus cupiditate dolores fuga, voluptate expedita, voluptatum suscipit recusandae quam molestiae officiis.</p>
            </div>
    </section>
</div>

{% endblock %}